---
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';

const pitch = 'Scan your code repository and open pull requests using AI';
const metadata = {
  title: `BrainJS — ${pitch}`,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      // {
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'BrainJS Hero Image' }}
  >
    <Fragment slot="title">{pitch}</Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">BrainJS</span> is a platform that can merge similar code in your repository such as functions,
      types, constants, colors and more in the click of a button. Its different from other solutions because it has the entire
      codebase in its context.
    </Fragment>
  </Hero>

  <Note />

  <Features
    id="features"
    tagline="Features"
    title="What pull requests can it suggest to the developer?"
    items={[
      {
        title: 'Merge functions with similar logic',
        description:
          'BrainJS can merge functions with similar logic. This is useful when you have multiple functions that do the same thing.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Unify types with similar structure',
        description:
          'In many codebases you will find types that are similar. BrainJS can merge these types into one type.',
        icon: 'tabler:components',
      },
      {
        title: 'Update colors, constants and schemas to a single source of truth',
        description:
          'Colors, constants and schemas are often duplicated in a codebase. BrainJS can update all colors to a single source of truth.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Fix folder structure',
        description:
          'BrainJS can fix the folder structure of your codebase. Large codebases often have a messy folder structure that can be reorganized.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <Content
    isReversed
    title="How it works"
    items={[
      {
        title: 'Sign up with your GitHub Accunt',
        description:
          'Upon signup, you will be asked to authorize BrainJS to access your repository. This is required to scan your codebase.',
      },
      {
        title: 'BrainJS will start suggesting pull requests',
        description: 'Once you have authorized BrainJS, you can choose which repository you want to scan.',
      },
      {
        title: 'Open pull requests in 1 click',
        description:
          'After the scan is complete, BrainJS will suggest pull requests that you can open with a single click.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        BrainJS is designed to have the least friction as possible
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How is it different from other AI code solutions',
        description:
          'BrainJS has the entire codebase in its context. This means that it can suggest pull requests that are more accurate and relevant to the codebase. Other solutions only have a partial view of the codebase. Its also only try to solve the problem of merging similar code.s',
      },
      {
        title: 'What do I need to start?',
        description:
          'All you need is a GitHub account. You can sign up with your GitHub account and authorize BrainJS to access your repository. BrainJS will then scan your codebase and suggest pull requests.',
      },
      {
        title: 'How long does it take to scan a codebase?',
        description:
          'The time it takes to scan a codebase depends on the size of the codebase. For small codebases, it can take a few minutes. For large codebases, it can take a few hours. BrainJS will notify you when the scan is complete.',
      },
      {
        title: 'What AI model does BrainJS use?',
        description:
          'BrainJS uses the anthropic models behind the scenes to analyze your codebase and suggest pull requests.',
      },
    ]}
  />
</Layout>
